<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<dict>
			<key>country</key>
			<string>Albania</string>
			<key>code</key>
			<string>355</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Algeria</string>
			<key>code</key>
			<string>213</string>
		</dict>
        <dict>
            <key>country</key>
            <string>Armenia</string>
            <key>code</key>
            <string>374</string>
        </dict>
		<dict>
			<key>country</key>
			<string>Afghanistan</string>
			<key>code</key>
			<string>93</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Argentina</string>
			<key>code</key>
			<string>54</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Aruba</string>
			<key>code</key>
			<string>297</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Andorra</string>
			<key>code</key>
			<string>376</string>
		</dict>
        <dict>
            <key>country</key>
            <string>Antarctica</string>
            <key>code</key>
            <string>672</string>
        </dict>
		<dict>
			<key>country</key>
			<string>Angola</string>
			<key>code</key>
			<string>244</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Anguilla</string>
			<key>code</key>
			<string>1264</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Atigua and Barbuda</string>
			<key>code</key>
			<string>1268</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Australia</string>
			<key>code</key>
			<string>61</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Austria</string>
			<key>code</key>
			<string>43</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Azerbaijan</string>
			<key>code</key>
			<string>994</string>
		</dict>
        <dict>
            <key>country</key>
            <string>American Samoa</string>
            <key>code</key>
            <string>1684</string>
        </dict>
	</array>
	<key>B</key>
	<array>
		<dict>
			<key>country</key>
			<string>Barbados</string>
			<key>code</key>
			<string>1246</string>
		</dict>
        <dict>
            <key>country</key>
            <string>Bangladesh</string>
            <key>code</key>
            <string>880</string>
        </dict>
		<dict>
			<key>country</key>
			<string>Bahamas</string>
			<key>code</key>
			<string>1242</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Belarus</string>
			<key>code</key>
			<string>375</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Bermuda</string>
			<key>code</key>
			<string>1441</string>
		</dict>
        <dict>
            <key>country</key>
            <string>BVI</string>
            <key>code</key>
            <string>1284</string>
        </dict>
		<dict>
			<key>country</key>
			<string>Bahrain</string>
			<key>code</key>
			<string>973</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Bulgaria</string>
			<key>code</key>
			<string>359</string>
		</dict>
        <dict>
            <key>country</key>
            <string>Brunei</string>
            <key>code</key>
            <string>673</string>
        </dict>
		<dict>
			<key>country</key>
			<string>Brazil</string>
			<key>code</key>
			<string>55</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Benin</string>
			<key>code</key>
			<string>229</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Belgium</string>
			<key>code</key>
			<string>32</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Botswana</string>
			<key>code</key>
			<string>267</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Bolivia</string>
			<key>code</key>
			<string>591</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Belize</string>
			<key>code</key>
			<string>501</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Bosnia and Herzegovina</string>
			<key>code</key>
			<string>387</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Bhutan</string>
			<key>code</key>
			<string>975</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Burkina Faso</string>
			<key>code</key>
			<string>226</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Burundi</string>
			<key>code</key>
			<string>257</string>
		</dict>
	</array>
	<key>C</key>
	<array>
        <dict>
            <key>country</key>
            <string>Canada</string>
            <key>code</key>
            <string>1</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Cambodia</string>
            <key>code</key>
            <string>855</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Cape Verde</string>
            <key>code</key>
            <string>238</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Cayman Islands</string>
            <key>code</key>
            <string>1345</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Cameroon</string>
            <key>code</key>
            <string>237</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Chad</string>
            <key>code</key>
            <string>235</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Chile</string>
            <key>code</key>
            <string>56</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Central African Republic</string>
            <key>code</key>
            <string>236</string>
        </dict>
        <dict>
            <key>country</key>
            <string>China</string>
            <key>code</key>
            <string>86</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Cocos (Keeling) Islands</string>
            <key>code</key>
            <string>61</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Cook Islands</string>
            <key>code</key>
            <string>682</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Croatia</string>
            <key>code</key>
            <string>385</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Comoros</string>
            <key>code</key>
            <string>269</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Czech Republic</string>
            <key>code</key>
            <string>420</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Congo (Brazzaville)</string>
            <key>code</key>
            <string>242</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Congo (DRC)</string>
            <key>code</key>
            <string>243</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Colombia</string>
            <key>code</key>
            <string>57</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Costa Rica</string>
            <key>code</key>
            <string>506</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Cuba</string>
            <key>code</key>
            <string>53</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Christmas Island</string>
            <key>code</key>
            <string>61</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Cyprus</string>
            <key>code</key>
            <string>357</string>
        </dict>
	</array>
	<key>D</key>
	<array>
        <dict>
            <key>country</key>
            <string>Djibouti</string>
            <key>code</key>
            <string>253</string>
        </dict>
		<dict>
			<key>country</key>
			<string>Denmark</string>
			<key>code</key>
			<string>45</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Dominic</string>
			<key>code</key>
			<string>1767</string>
		</dict>
	</array>
	<key>E</key>
	<array>
        <dict>
            <key>country</key>
            <string>East Timor</string>
            <key>code</key>
            <string>670</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Equatorial Guinea</string>
            <key>code</key>
            <string>240</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Egypt</string>
            <key>code</key>
            <string>20</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Ethiopia</string>
            <key>code</key>
            <string>372</string>
        </dict>
        <dict>
            <key>country</key>
            <string>El Salvador</string>
            <key>code</key>
            <string>503</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Estonia</string>
            <key>code</key>
            <string>372</string>
        </dict>
		<dict>
			<key>country</key>
			<string>Ecuador</string>
			<key>code</key>
			<string>593</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Eritrea</string>
			<key>code</key>
			<string>291</string>
		</dict>
	</array>
	<key>F</key>
	<array>
		<dict>
			<key>country</key>
			<string>France</string>
			<key>code</key>
			<string>33</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Faroe Islands</string>
			<key>code</key>
			<string>298</string>
		</dict>
		<dict>
			<key>country</key>
			<string>French Polynesia</string>
			<key>code</key>
			<string>689</string>
		</dict>
		<dict>
			<key>country</key>
			<string>French Saint Martin</string>
			<key>code</key>
			<string>1599</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Fiji</string>
			<key>code</key>
			<string>679</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Finland</string>
			<key>code</key>
			<string>358</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Falkland Islands</string>
			<key>code</key>
			<string>500</string>
		</dict>
	</array>
	<key>G</key>
	<array>
        <dict>
            <key>country</key>
            <string>Gabon</string>
            <key>code</key>
            <string>241</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Ghana</string>
            <key>code</key>
            <string>233</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Gibraltar</string>
            <key>code</key>
            <string>350</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Guatemala</string>
            <key>code</key>
            <string>502</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Germany</string>
            <key>code</key>
            <string>49</string>
        </dict>
		<dict>
			<key>country</key>
			<string>Gambia</string>
			<key>code</key>
			<string>220</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Greenland</string>
			<key>code</key>
			<string>299</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Grenada</string>
			<key>code</key>
			<string>1473</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Georgia</string>
			<key>code</key>
			<string>995</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Guam</string>
			<key>code</key>
			<string>1671</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Guyana</string>
			<key>code</key>
			<string>592</string>
		</dict>
        <dict>
            <key>country</key>
            <string>Guinea</string>
            <key>code</key>
            <string>224</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Guinea-Bissau</string>
            <key>code</key>
            <string>245</string>
        </dict>
	</array>
	<key>H</key>
	<array>
		<dict>
			<key>country</key>
			<string>Haiti</string>
			<key>code</key>
			<string>509</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Honduras</string>
			<key>code</key>
			<string>504</string>
		</dict>
        <dict>
            <key>country</key>
            <string>Hong Kong SAR, China</string>
            <key>code</key>
            <string>852</string>
        </dict>
	</array>
	<key>I</key>
	<array>
        <dict>
            <key>country</key>
            <string>Iceland</string>
            <key>code</key>
            <string>354</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Israel</string>
            <key>code</key>
            <string>972</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Ivory Coast</string>
            <key>code</key>
            <string>225</string>
        </dict>
		<dict>
			<key>country</key>
			<string>Ireland</string>
			<key>code</key>
			<string>353</string>
		</dict>
        <dict>
            <key>country</key>
            <string>Isle of Man</string>
            <key>code</key>
            <string>44</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Italian</string>
            <key>code</key>
            <string>39</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Iraq</string>
            <key>code</key>
            <string>964</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Iran</string>
            <key>code</key>
            <string>98</string>
        </dict>
        <dict>
            <key>country</key>
            <string>India</string>
            <key>code</key>
            <string>91</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Indonesia</string>
            <key>code</key>
            <string>62</string>
        </dict>
	</array>
	<key>J</key>
	<array>
        <dict>
            <key>country</key>
            <string>Japan</string>
            <key>code</key>
            <string>81</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Jamaica</string>
            <key>code</key>
            <string>1876</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Jordan</string>
            <key>code</key>
            <string>962</string>
        </dict>
	</array>
	<key>K</key>
	<array>
        <dict>
            <key>country</key>
            <string>Kyrgyzstan</string>
            <key>code</key>
            <string>996</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Kiribati</string>
            <key>code</key>
            <string>686</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Korea</string>
            <key>code</key>
            <string>82</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Kazakhstan</string>
            <key>code</key>
            <string>7</string>
        </dict>
		<dict>
			<key>country</key>
			<string>Kenya</string>
			<key>code</key>
			<string>254</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Kuwait</string>
			<key>code</key>
			<string>965</string>
		</dict>
	</array>
	<key>L</key>
	<array>
		<dict>
			<key>country</key>
			<string>Lesotho</string>
			<key>code</key>
			<string>266</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Laos</string>
			<key>code</key>
			<string>856</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Latvia</string>
			<key>code</key>
			<string>371</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Lebanon</string>
			<key>code</key>
			<string>961</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Liberia</string>
			<key>code</key>
			<string>231</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Libya</string>
			<key>code</key>
			<string>218</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Liechtenstein</string>
			<key>code</key>
			<string>423</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Lithuania</string>
			<key>code</key>
			<string>370</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Luxembourg</string>
			<key>code</key>
			<string>352</string>
		</dict>
	</array>
	<key>M</key>
	<array>
		<dict>
			<key>country</key>
			<string>Madagascar</string>
			<key>code</key>
			<string>261</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Maldives</string>
			<key>code</key>
			<string>960</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Malta</string>
			<key>code</key>
			<string>356</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Malaysia</string>
			<key>code</key>
			<string>60</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Malawi</string>
			<key>code</key>
			<string>265</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Mali</string>
			<key>code</key>
			<string>223</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Mauritius</string>
			<key>code</key>
			<string>230</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Mauritania</string>
			<key>code</key>
			<string>222</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Macedonia</string>
			<key>code</key>
			<string>389</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Marshall Islands</string>
			<key>code</key>
			<string>692</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Mayotte</string>
			<key>code</key>
			<string>262</string>
		</dict>
        <dict>
            <key>country</key>
            <string>Macau SAR, China</string>
            <key>code</key>
            <string>853</string>
        </dict>
		<dict>
			<key>country</key>
			<string>Mongolia</string>
			<key>code</key>
			<string>976</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Montserrat</string>
			<key>code</key>
			<string>1664</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Myanmar</string>
			<key>code</key>
			<string>95</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Micronesia</string>
			<key>code</key>
			<string>691</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Moldova</string>
			<key>code</key>
			<string>373</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Morocco</string>
			<key>code</key>
			<string>212</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Monaco</string>
			<key>code</key>
			<string>377</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Mozambique</string>
			<key>code</key>
			<string>258</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Mexico</string>
			<key>code</key>
			<string>52</string>
		</dict>
        <dict>
            <key>country</key>
            <string>Montenegro</string>
            <key>code</key>
            <string>382</string>
        </dict>
	</array>
	<key>N</key>
	<array>
        <dict>
            <key>country</key>
            <string>Netherlands</string>
            <key>code</key>
            <string>31</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Netherlands Antilles</string>
            <key>code</key>
            <string>599</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Northern Mariana Islands</string>
            <key>code</key>
            <string>1670</string>
        </dict>
        <dict>
            <key>country</key>
            <string>North Korea</string>
            <key>code</key>
            <string>850</string>
        </dict>
		<dict>
			<key>country</key>
			<string>Namibia</string>
			<key>code</key>
			<string>264</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Nauru</string>
			<key>code</key>
			<string>674</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Nepal</string>
			<key>code</key>
			<string>977</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Nicaragua</string>
			<key>code</key>
			<string>505</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Niger</string>
			<key>code</key>
			<string>227</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Nigeria</string>
			<key>code</key>
			<string>234</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Niue</string>
			<key>code</key>
			<string>683</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Norway</string>
			<key>code</key>
			<string>47</string>
		</dict>
	</array>
    <key>O</key>
    <array>
        <dict>
            <key>country</key>
            <string>Oman</string>
            <key>code</key>
            <string>968</string>
        </dict>
    </array>
	<key>P</key>
	<array>
        <dict>
            <key>country</key>
            <string>Pakistan</string>
            <key>code</key>
            <string>92</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Paraguay</string>
            <key>code</key>
            <string>595</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Panama</string>
            <key>code</key>
            <string>507</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Peru</string>
            <key>code</key>
            <string>51</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Philippines</string>
            <key>code</key>
            <string>63</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Puerto Rico</string>
            <key>code</key>
            <string>1787</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Poland</string>
            <key>code</key>
            <string>48</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Papua New Guinea</string>
            <key>code</key>
            <string>675</string>
        </dict>
		<dict>
			<key>country</key>
			<string>Palau</string>
			<key>code</key>
			<string>680</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Pitcairn Islands</string>
			<key>code</key>
			<string>870</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Portugal</string>
			<key>code</key>
			<string>351</string>
		</dict>
	</array>
    <key>Q</key>
    <array>
        <dict>
            <key>country</key>
            <string>Qatar</string>
            <key>code</key>
            <string>974</string>
        </dict>
    </array>
	<key>R</key>
	<array>
        <dict>
            <key>country</key>
            <string>Romania</string>
            <key>code</key>
            <string>40</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Rwanda</string>
            <key>code</key>
            <string>250</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Russia</string>
            <key>code</key>
            <string>7</string>
        </dict>
	</array>
	<key>S</key>
	<array>
        <dict>
            <key>country</key>
            <string>Sweden</string>
            <key>code</key>
            <string>46</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Switzerland</string>
            <key>code</key>
            <string>41</string>
        </dict>
        <dict>
            <key>country</key>
            <string>South Africa</string>
            <key>code</key>
            <string>27</string>
        </dict>
		<dict>
			<key>country</key>
			<string>Serbia</string>
			<key>code</key>
			<string>381</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Sierra Leone</string>
			<key>code</key>
			<string>232</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Senegal</string>
			<key>code</key>
			<string>221</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Seychelles</string>
			<key>code</key>
			<string>248</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Samoa</string>
			<key>code</key>
			<string>685</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Saudi Arabia</string>
			<key>code</key>
			<string>966</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Saint Barthelemy</string>
			<key>code</key>
			<string>590</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Sao Tome and Principe</string>
			<key>code</key>
			<string>239</string>
		</dict>
		<dict>
			<key>country</key>
			<string>St. Helena</string>
			<key>code</key>
			<string>290</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Saint Kitts and Nevis</string>
			<key>code</key>
			<string>1869</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Saint Lucia</string>
			<key>code</key>
			<string>1758</string>
		</dict>
		<dict>
			<key>country</key>
			<string>San Marino</string>
			<key>code</key>
			<string>378</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Saint Pierre and Miquelon</string>
			<key>code</key>
			<string>508</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Saint Vincent and the Grenadines</string>
			<key>code</key>
			<string>1784</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Sri Lanka</string>
			<key>code</key>
			<string>94</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Slovakia</string>
			<key>code</key>
			<string>421</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Slovenia</string>
			<key>code</key>
			<string>386</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Swaziland</string>
			<key>code</key>
			<string>268</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Sudan</string>
			<key>code</key>
			<string>249</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Suriname</string>
			<key>code</key>
			<string>597</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Solomon Islands</string>
			<key>code</key>
			<string>677</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Somalia</string>
			<key>code</key>
			<string>252</string>
		</dict>
	</array>
	<key>T</key>
	<array>
        <dict>
            <key>country</key>
            <string>The Dominican Republic</string>
            <key>code</key>
            <string>1809</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Togo</string>
            <key>code</key>
            <string>228</string>
        </dict>
		<dict>
			<key>country</key>
			<string>Thailand</string>
			<key>code</key>
			<string>66</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Taiwan</string>
			<key>code</key>
			<string>886</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Tajikistan</string>
			<key>code</key>
			<string>992</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Tonga</string>
			<key>code</key>
			<string>676</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Tanzania</string>
			<key>code</key>
			<string>255</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Turks and Caicos</string>
			<key>code</key>
			<string>1649</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Trinidad and Tobago</string>
			<key>code</key>
			<string>1868</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Turkey</string>
			<key>code</key>
			<string>90</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Turkmenistan</string>
			<key>code</key>
			<string>993</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Tunisia</string>
			<key>code</key>
			<string>216</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Tokelau</string>
			<key>code</key>
			<string>690</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Tuvalu</string>
			<key>code</key>
			<string>688</string>
		</dict>
	</array>
    <key>U</key>
    <array>
        <dict>
            <key>country</key>
            <string>United States</string>
            <key>code</key>
            <string>1</string>
        </dict>
        <dict>
            <key>country</key>
            <string>US Virgin Islands</string>
            <key>code</key>
            <string>1340</string>
        </dict>
        <dict>
            <key>country</key>
            <string>United Arab Emirates</string>
            <key>code</key>
            <string>971</string>
        </dict>
        <dict>
            <key>country</key>
            <string>UK</string>
            <key>code</key>
            <string>44</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Uganda</string>
            <key>code</key>
            <string>256</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Ukraine</string>
            <key>code</key>
            <string>380</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Uruguay</string>
            <key>code</key>
            <string>598</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Uzbekistan</string>
            <key>code</key>
            <string>998</string>
        </dict>
    </array>
    <key>V</key>
    <array>
        <dict>
            <key>country</key>
            <string>Vatican</string>
            <key>code</key>
            <string>379</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Vanuatu</string>
            <key>code</key>
            <string>678</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Venezuela</string>
            <key>code</key>
            <string>58</string>
        </dict>
        <dict>
            <key>country</key>
            <string>Vietnam</string>
            <key>code</key>
            <string>84</string>
        </dict>
    </array>
	<key>W</key>
	<array>
		<dict>
			<key>country</key>
			<string>Wallis and Futuna</string>
			<key>code</key>
			<string>681</string>
		</dict>
	</array>
	<key>X</key>
	<array>
		<dict>
			<key>country</key>
			<string>Spain</string>
			<key>code</key>
			<string>34</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Greece</string>
			<key>code</key>
			<string>30</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Singapore</string>
			<key>code</key>
			<string>65</string>
		</dict>
		<dict>
			<key>country</key>
			<string>New Caledonia</string>
			<key>code</key>
			<string>687</string>
		</dict>
		<dict>
			<key>country</key>
			<string>New Zealand</string>
			<key>code</key>
			<string>64</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Hungary</string>
			<key>code</key>
			<string>36</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Syria</string>
			<key>code</key>
			<string>963</string>
		</dict>
	</array>
	<key>Y</key>
	<array>
		<dict>
			<key>country</key>
			<string>Yemen</string>
			<key>code</key>
			<string>967</string>
		</dict>
	</array>
	<key>Z</key>
	<array>
        <dict>
            <key>country</key>
            <string>Zimbabwe</string>
            <key>code</key>
            <string>263</string>
        </dict>
		<dict>
			<key>country</key>
			<string>Zambia</string>
			<key>code</key>
			<string>260</string>
		</dict>
	</array>
</dict>
</plist>
